@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: #EFEAEA;
}


body {
  background-color: var(--background-rgb);
}

@layer base {
  .markdown > * {
    all: revert;
  }

  /* Style links except when we don't want to in places like navbar etc */
  .no-style-links a {
    color: inherit;
    text-decoration: inherit;
  }

  .no-style-links a:hover {
    color: inherit;
    text-decoration: inherit;
  }

  a {
    color: blue;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
