@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-background: #EFEAEA;
  --theme-text-color: #111827;
}

.dark {
  --theme-background: #000000;
  --theme-text-color: #D1D5DB;
}

@layer base {
  
  /* Style links except when we don't want to in places like navbar etc */
  .no-style-links a {
    color: inherit !important;
    text-decoration: inherit;
  }

  .no-style-links a:hover {
    color: inherit !important;
    text-decoration: inherit;
  }

  a {
    color: rgb(59, 130, 246);
    text-decoration: none;
  }

  .dark a {
    color: rgb(147, 197, 253);
  }

  a:hover {
    text-decoration: underline;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
